@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  // Font Family
  --ff-inter: 'Inter', sans-serif;

  // Colors
  --clr-primary: #877EFF;
  --clr-secondary: #FFB620;
  --clr-dark-1: #000000;
  --clr-dark-2: #09090A;
  --clr-dark-3: #101012;
  --clr-dark-4: #1F1F22;
  --clr-light-1: #FFFFFF;
  --clr-light-2: #EFEFEF;
  --clr-light-3: #7878A3;
  --clr-light-4: #5C5C7B;
  --clr-warning: #FF5A5A;

  // Gradient
  --gradient-purple-blue: linear-gradient(180deg, rgba(135,126,255,1) 0%, rgba(104,93,255,1) 46%, rgba(49,33,255,1) 100%);

  // Font Weights
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  // Toastify
  --toastify-color-dark: var(--clr-dark-4);
  --toastify-icon-color-error: var(--clr-warning);
  --toastify-color-error: var(--clr-warning);
  --toastify-font-family: inherit;
  --toastify-toast-width: 480px;
  --toastify-toast-min-height: 80px;
  --toastify-text-color-dark: var(--clr-light-1);
  --toastify-toast-bd-radius: .625rem;
}