.left-sidebar {
  background-color: var(--clr-dark-2);
  width: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  @media (width >= 768px) {
    display: block;
  }

  @media (width >= 1024px) {
    min-width: 16.875rem;
  }
  
  &__container {
    padding: 3rem 1.5rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width >= 1024px) {
      justify-content: flex-start;
    }
  }
  
  &__logo-full {
    display: none;
    @media (width >= 1024px) {
      display: block;
    }
  }

  &__logo-simple {
    display: block;
    width: 36px;
    height: 36px;

    @media (width >= 1024px) {
      display: none;
    }
  }

  &__user {
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .625rem;
      margin-top: 2.75rem;

      @media (width >= 1024px) {
        justify-content: flex-start;
      }
    }

    &-img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;

      @media (width >= 1024px) {
        width: 56px;
        height: 56px;
      }
    }

    &-info {
      display: none;
      @media (width >= 1024px) {
        display: block;
      }
    }

    &-name {
      font-size: 1.125rem;
    }

    &-username {
      font-size: .875rem;
      font-weight: var(--fw-regular);
      color: var(--clr-light-3);
    }
  }

  &__menu {
    margin-top: 2.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top-menu,
  &__bottom-menu {
    display: grid;
    gap: 1rem;

    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      font-weight: var(--fw-medium);
      border-radius: .5rem;

      &--active {
        background-color: var(--clr-primary);
        color: var(--clr-light-1);
        font-weight: var(--fw-bold);
      }

      &-icon {
        width: 24px;
        height: 24px;

        &--active {
          filter: brightness(0) invert(100%);
        }
      }

      &-label {
        font-size: 1.125rem;
        display: none;
        @media (width >= 1024px) {
          display: block;
        }
      }
    }
  }
}