.post-card-stats {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @media (width >= 768px) {
      gap: 1.875rem;
    }
  }

  &__action,
  &__saved {
    display: flex;
    align-items: center;
    gap: .375rem;

    &-img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    &-text {
      font-size: .875rem;
      font-weight: var(--fw-medium);
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}