.main {
  width: 100%;
  min-height: 100vh;
  
  @media (width >= 768px) {
    display: flex;
  }

  &-content {
    flex: 1;
    display: flex;

    @media (width >= 768px) {
      padding-left: 16.875rem;
    }

    &__wrapper {
      flex: 1;
    }
  }
}